.project-link a {
  color: #edc79b;
}

.profilePic {
  float: left;
  shape-outside: circle(50%);
}

.about-img{
  border-radius: 50%;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.display {
  background: #514e4e;
  color: #c1bdb3;
  font-size: 1.25em;
}

.display-about, .project-description {
  text-align: right;
  width: 90%;
  margin: 10px auto;
  line-height: 1.1em;
}

.project-description {
  display: grid;
}

.display-project {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  text-align: center;
  width: 100%;
}

.project-name {
  font-size: 1.5em;
  margin: 10px auto;
}

.project-thumbnail {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .display {
    font-size: 1.5em;
  }

  .about-img {
    width: 400px;
    height: 400px;
  }

  .display-project {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-name {
    font-size: 2em;
    grid-column: 1 / 3;
  }

  .project-thumbnail {
    grid-column: 1 / 3;
  }

  .project-description {
    grid-column: 1 / 3;
  }
}
