.project-link a {
  color: #edc79b;
}

.about-img {
  width: 80%;
  border-radius: 50%;
  margin: 25px;
}

.display {
  background: #514e4e;
  color: #c1bdb3;
  font-size: 1.5em;
}

.display-about {
  display: grid;
  text-align: center;
}

.display-project {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 100%;
}

.project-name {
  /* font-size: 2em; */
}

.project-thumbnail {
  align-self: center;
}

.project-thumbnail video {
  width: 90%;
}

.project-description {
}


@media only screen and (min-width: 768px) {
  .display {}

  .display-about {}

  .about-img {
    width: 400px;
    margin: 25px;
  }

  .display-project {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-name {
    font-size: 2em;
    grid-column: 1 / 3;
  }

  .project-thumbnail {
    grid-column: 1 / 3;
    align-self: center;
  }

  .project-thumbnail video {
    width: 500px;
  }

  .project-description {
    grid-column: 1 / 3;
  }
}
