.project-link a {
  color: #edc79b;
}

.display {
  background: #514e4e;
  color: #c1bdb3;
  font-size: 1.5em;
}

.display-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.project-name {
  font-size: 2em;
  grid-column: 1 / 3;
}

.project-thumbnail {
  grid-column: 1 / 3;
  align-self: center;
}

.project-thumbnail img {
  width: 500px;
}

.project-description {
  grid-column: 1 / 3;
}
