.nav-item {
  text-align: center;
  padding: 10px 0;
  border: solid #000000 1px;
  background: #edc79b;
  color: #000000;
  font-family: inherit;

}

.active-item {
  background: #bdc696;
  display: block;
}
