a {
  color: #4c3b4d;
}

.contact {
  background: #4c3b4d;
  color: #c1bdb3;
  font-size: 1.25em;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.contact-item {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  background: #c1bdb3;
}

.emptySpace {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contact {
    font-size: 1.5em;
  }

  .contact-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-item {
    height: 50px;
    width: 50px;
  }

  .emptySpace {
    display: block;
  }
}
