.header {
  background: #4c3b4d;
  color: #c1bdb3;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-item {
  margin: 0 auto;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
}
@media only screen and (min-width: 768px) {

}
