
.nav-icon {
  display: block;
  background: #4c3b4d;
  color: #c1bdb3;
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

.nav-icon:hover, .navbar:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5em;
  transition: max-height .5s ease-in-out;
}

.navbar.off {
  max-height: 0;
  overflow: hidden;
}

.navbar.on {
  max-height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .navbar {
    display: flex !important;
    max-height: 100% !important;
  }
}
