
.nav-icon {
  display: block;
  background: #4c3b4d;
  color: #c1bdb3;
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

.nav-icon:hover, .navbar:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: 1.5em;
  transition: height .5s 0s ease-in-out;
}

.navbar.off {
  height: 0;
  overflow: hidden;
}

.navbar.on {
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .navbar {
    display: flex !important;
    height: 100% !important;
  }
}
