.nav {
background: #edc79b;
color: #000000;
font-family: inherit;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-item {
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0;
  border: solid #000000 1px;
}

.active-item {
  background: #bdc696;
}

.about-item {
  /* background: #7f7979; */
}

@media only screen and (min-width: 768px) {

}
